.card {
    border-radius: 1rem;
    border: 1px solid var(--margin-color);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.17); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.17);
    padding: 1rem;
}

.card p {
    color: var(--secondary-color);
    margin-bottom: 1rem;
}