.dashboard {
    display: flex;
    height: 100vh;
    background-color: var(--background-color);
    overflow: hidden;
}

.main-content {
  overflow-y: auto;
}

.dashboard > :first-child {
  flex: 1; 
  max-width: 250px; 
  min-width: 250px;
}

.dashboard > :last-child {
  flex: 3; 
}

/* media queries*/

@media (max-width:900px) {

  .dashboard {
    flex-direction: column;
  }

  .dashboard > :first-child {
    display: none;
  }
}

@media (min-width:900px) {

  .dashboard > :nth-child(2) {
    display: none;
  }

}