.number {
    font-size: 2rem;
    font-weight: 700;
}

.pie-container {
    width: 100%;
    max-width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
}

.line-container {
    width: 100%;
    height: 280px;

}