* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    color: var(--primary-color)
}

:root {
    --primary-color: #0d0d0d;
    --secondary-color: #4D4D4D;
    --margin-color: whitesmoke;
    --primary-highlight-color: #1B365D;
    --primary-highlight-color-hover: #356ebe;
    --secondary-highlight-color: #d9efff;
    --third-highlight-color: #2E5A87;
    --green-color: #1ABC9C;
    --green-color-hover: #24eac3;
    --red-color: #E74C3C;
    --red-color-hover: rgb(249, 115, 115);
    --orange-color: orange;
    --orange-color-hover: rgb(255, 188, 65);
    --background-color: #FFF;
}

/* Guide Color Palet */
.this-will-never-match-anything {
    color: #1B365D;
    color: #2E5A87;
    color: #E74C3C;
    color: #1ABC9C;
}