.login-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-highlight-color);
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    border-radius: 1rem;
    gap:1rem;
    width: 300px;
    color: var(--primary-highlight-color);
    background-color: var(--background-color);
}

.logo {
    margin: 0 !important;
}

.field {
    display: flex;
    color: var(--primary-highlight-color);
    align-items: center;
    width: 300px;
    justify-content:space-between;
    font-weight: 700;
}

.field input {
    border: 2px solid var(--margin-color);
    padding: 10px;
    border-radius: 10px;
}