.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    height: 100vh;
}

.field {
    display: flex;
    color: var(--secondary-color);
    align-items: center;
    width: 300px;
    justify-content:space-between;
    font-weight: 700;
}

.field input {
    border: 2px solid var(--margin-color);
    padding: 10px;
    border-radius: 10px;
}

.submit {
    padding: 10px;
    border: 0;
    background-color: var(--primary-highlight-color);
    color: var(--background-color);
    border-radius: 30px;
}

.submit:hover {
    background-color: var(--secondary-highlight-color);
}