.navigation-overlay {
    background-color: var(--primary-highlight-color);
    border-left: 4px solid var(--margin-color);
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: auto;
}

.navigation {
    height: 95%;
}

.close {
    border: 0px;
    background: var(--primary-highlight-color);
    margin-top: 2rem;
}
