.navigation-overlay {
    background-color: var(--background-color);
    border-left: 2px solid var(--margin-color);
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
}

.close {
    border: 0px;
    background: var(--background-color);
}