 .number.aceptado span {
    color: var(--green-color);
}

 .number.rechazado span {
    color: var(--red-color);
}

 .number.revision span {
    color: var(--orange-color);
}

.toggle-select {
    border: 2px solid var(--margin-color);
    padding: 10px;
    border-radius: 1rem;
    color: var(--secondary-color);
}

.filter-bar{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.filter-options {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* media queries */
@media(max-width: 1120px) {
    .filter-bar {
        flex-direction: column;
        align-items: start;
    }
    .filter-bar > :first-child {
        width: 96.5%;
    }
    .filter-options {
        width: 100%;
        justify-content: space-between;
    }
}

@media(max-width: 600px) {
    .filter-options {
        flex-wrap: wrap;
        justify-content: center;
    }
    .grid-reports > :nth-child(5) {
        grid-column: span 2 !important;
    }
}

@media (max-width: 570px) {
    .filter-bar > :first-child {
        width: 94%;
    }
}

@media (max-width: 450px) {
    .filter-bar > :first-child {
        width: 91%;
    }
}