.search {
    border: 2px solid var(--margin-color);
    padding: 10px;
    border-radius: 1rem;
    flex: 1;
}

div .search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search input {
    border: 0px;
    flex: 1;
}
.search input:focus {
    outline: none;
}