li {
    width: 100%;
    border-radius: 1rem;
}

li:hover {
    outline: 2px var(--background-color) solid;
}

.current {
    background-color: var(--background-color);
}

.current:hover {
    outline: 0;
}


.current * {
    color: var(--primary-highlight-color) !important;
}

.link-button {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap:1rem;
}

.contracted .link-button {
    padding: 1rem 0.5rem;
}

.link-button p {
    color: var(--background-color);
}
