.sidebar {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    border: 2px solid var(--margin-color);
    margin: 1rem;
    overflow-y: auto;
}

.sidebar > :first-child {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem 2rem;
    list-style-type: none;
}

.links * {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
}

.logo {
    width: 125px;
}
