.sidebar {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.sidebar > :first-child {
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 50%;
}