.edit-text {
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
    padding: 1rem;
    border: 2px solid var(--margin-color);
    border-radius: 1rem;
    font-size: 1rem;
}

.error-message {
    color: var(--red-color);
    font-weight:lighter !important;
    margin-left: 1rem;
}

.terms-options {
    display: flex;
}